body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.dream-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    font-weight: 700;
    color: rgb(252, 251, 248);
    border-radius: 5px;
}
.back-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.back-img2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 5px;
    
}
#baby-developer-area{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#full-developer-area{
    border-left: 10px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;
}